.bag-button {
  background-color: aquamarine;
  padding: 5px 15px;
  border-radius: 10px;
}

.wishlist-button {
   background-color: white;
   border-radius: 10px;
   padding: 5px 25px;
    border: 2px solid black;
}